@import "../../../styles/sass/main.scss";

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  width: 20rem;
  padding: 0.75rem;

  cursor: pointer;
  color: #4e4e4e;
  //   transition: all 1s ease;

  &:not(:last-child) {
    border-bottom: 2px solid $primary-color;
  }

  &:hover {
    background: linear-gradient(90deg, rgba(236, 236, 236, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
  }

  svg {
    width: $font-size-title;
    fill: $primary-color;
    transition: all 0.15s ease;
    &:hover {
      fill: darken($color: $primary-color, $amount: 25);
    }
  }
  .leftDetail {
    display: flex;
    align-items: center;
    gap: 15px;
    .detailContainer {
      p {
        margin: 0;
        padding-block: 2px;

        text-transform: capitalize;
        color: #5b5b5b;
        transition: color 0.15s ease;

        &:hover {
          color: $primary-color;
        }

        &:nth-child(1) {
          position: relative;
          width: fit-content;

          font-size: $font-size-title;
          font-weight: $semi-bold;

          // color: rgba(236,114,114,1);

          transition: width 0.35s ease;
        }

        &:nth-child(2) {
          opacity: 0.65;

          font-size: $font-size-subTitle;
          font-weight: $medium;
        }
      }
      .lineThrough {
        color: $completed-color;
        text-decoration: line-through;
        // &::after {
        //   width: 100% !important;
        // }
      }
    }
  }

  .icons {
    display: flex;
    svg {
      margin-inline: 4px;
    }
  }
}
