$primary-color: #54bab9;
$secondary-color: #9ed2c6;
// $primary-color: #B25068;
// $secondary-color:#90B77D;

// $primary-color: #E9DAC1;
// $secondary-color: #F7ECDE;

$completed-color: #f37878;

$text-color: #b7c4cf;

// Input Field Variables
$size-bezel: 0.5rem;
$size-radius: 4px;
