$primary-color: #54BAB9;
$secondary-color:#9ED2C6;
// $primary-color: #B25068;
// $secondary-color:#90B77D;


// $primary-color: #E9DAC1;
// $secondary-color: #F7ECDE;

$completed-color:#F37878;

$text-color: #B7C4CF;